[submodule "foundry-twitterdaap/lib/forge-std"]
	path = foundry-twitterdaap/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-twitterdaap/lib/openzeppelin-contracts"]
	path = foundry-twitterdaap/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
